@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">
        &copy; 2021 - Captcha - Design By Ali: <a href="https://www.linkedin.com/in/ali-cicekk/" rel="sponsored" target="_blank" title="css templates">LinkedIn</a>
    </h1>
</div>
